<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Bienvenido</title>
    <style>      
    
    </style>
  </head>
  <body class="text-center">         
          <div class="contenedor">
            <h1>Y... Aca estamos Página de Inicio</h1>
            <% if (login) { %>                
                <h1>Quien se Conecto es Tatan... Tatan: <strong><%= name %></strong></h1>                        
                <a href="logout" class="a-logout">Raja Nene - Logout</a>
            <%} else { %>
                <h1><strong><%= name %></strong></h1>   
                <a href="login" class="a-login">Anda Pá Sha Bobo - Login</a>
            <% } %>
          </div>
  </body>
</html>